.text-input
{
	-fx-text-fill: #e33635;
	-fx-font-size: 24;
	-fx-font-family: "Lucida Fax";
	-fx-font-weight: BOLD;
} 

.text-input:hover
{
	-fx-text-fill: #ffffff;
	-fx-font-size: 24;
	-fx-font-family: "Lucida Fax";
	-fx-font-weight: BOLD;
} 
